@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;1,600;1,700;1,900&display=swap");

.container {
  background-color: #282a35;
  border-radius: 0.3rem;
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.8);
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0.8rem auto;
  padding: 1rem;
  width: 30%;
}

.button {
  background-color: #282a35;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.5);
}

/* 

  Header

*/

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-header .name {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.container-header .name:hover span a {
  opacity: 1;
}

.container-header .name span {
  display: flex;
  justify-content: center;
}

.container-header .name span a {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: 0.3s;
}

.container-header .name span a:hover {
  text-decoration: underline;
}

.container-header .icon .add {
  display: flex;
}

.container-header .icon .add .add-action {
  margin-left: 1rem;
}

.container-header .icon .add .add-action input {
  border-radius: 0.2rem;
  /* border: none; */
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.container-header .icon .add .add-action input:focus,
.container-header .icon .add .add-action input:hover {
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

.container-header .icon .add .add-action button {
  margin-left: 0.5rem;
}

/* 

  Akhir dari Header

*/
/* 

  Main

*/

.container-main {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}



/* 

  Akhir dari Main

*/



.container-main {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.container-main {
  flex-direction: column;
  display: flex;
}


.container-main div {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
}

.container-main div span:first-child {
  position: relative;
}


.container-main div span:first-child input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.container-main div span:first-child {
  margin-right: 0.5rem;
}

.container-main div span:first-child input:hover {
  cursor: pointer;
}

.container-main div span:nth-child(2) {
  overflow-x: auto;
  overflow-y: hidden;
  width: 80%;
}

.container-main div span:nth-child(2) input {
  border-radius: 0.2rem;
  /* border: none; */
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: .5rem;
}

.container-main div span:nth-child(2)::-webkit-scrollbar {
  height: 0.2rem;
}

.container-main div span:nth-child(2)::-webkit-scrollbar-track {
  background-color: blue;
}

.container-main div span:nth-child(2)::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
}

.container-main div.done {
  opacity: 0.3;
  text-decoration: line-through;
}

/* Responsive */

@media screen and (max-width: 768px) {
  .container {
    width: 70%;
  }
}