.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-header .name {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.container-header .name:hover span a {
    opacity: 1;
}

.container-header .name span {
    display: flex;
    justify-content: center;
}

.container-header .name span a {
    color: white;
    font-size: .8rem;
    text-decoration: none;
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: .3s;
}

.container-header .name span a:hover {
    text-decoration: underline;
}

.container-header .icon .add {
    display: flex;
}


.container-header .icon .add .add-action { 
    margin-left: 1rem;
}

.container-header .icon .add .add-action input {
    border-radius: .2rem;
    /* border: none; */
    outline: none;
    border: 1px solid rgba(255, 255, 255, .5);
}

.container-header .icon .add .add-action input:focus, 
.container-header .icon .add .add-action input:hover {
    box-shadow: 0  0 .5rem rgba(255, 255, 255, .5);
}

.container-header .icon .add .add-action button {
    margin-left: .5rem;
 }