.container-main {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.container-main ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-main ul li:hover {
    background-color: #666;
}